h1{
    font-size: 40px;
    font-weight: 700;
    color:#333
}

/*Header*/
header{
    position: sticky;
    top: 0;
    background: #fff;
}

/*General Stuff*/
html,body{
    height: 100%;
}
.container{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 1 auto;
}

.feature.col{
    padding: 20px 20px;
    width: 32%;
    margin-left: 1%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}